{% set username = comment.user.username %}

<div class="comment mb-2" id="comment-{{ comment.id }}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="#" class="text-decoration-none">
                    <span class="comment-author">{{ username }}</span>
                </a>
                <span>{{ comment.createdAt|date('d M Y  H:i') }}</span>
            </h5>

            <p class="card-text pl-2 ml-2">{{ comment.content }}</p>
        </div>
    </div>
</div>