{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <article class="container position-relative mb-5 pb-5">
        <h1>{{ article.title }}</h1>

        <p>{{ article.content|raw }}</p>

        <span class="position-absolute bottom-0 end-0">{{ article.createdAt|date('d M Y') }}</span>
    </article>

{% endblock %}
