{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}

    <div class="container w-25 my-5">
        <div class="row my-5">
            <div class="col my-3">
                <h2>Perfil de {{ app.user.username|capitalize }}</h2>
            </div>
            <div class="col-12 my-5">
                <label for="username" class="form-label">Nome de usuário</label>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" value="{{ app.user.username }}" readonly>
                </div>
            </div>

            <div class="my-5">
                <p>Número de comentários postados: {{ app.user.comments|length }}</p>
            </div>
        </div>
    </div>
{% endblock %}
