<div class="p-4">
    <h4 class="fst-italic">Categorias</h4>
    <ul class="list-unstyled mb-0">
        <li>
            <a href="#" class="text-decoration-none">Lorem</a>
        </li>
        <li>
            <a href="#" class="text-decoration-none">Ipsum</a>
        </li>
    </ul>
</div>